* {
  margin: 0;
  padding: 0;
}

.indexbody {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
  text-align: center;
}

.mainbody {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  line-height: 1.6;
  text-align: center;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 0 30px;
}

#showcase {
  height: 80px;
}

#showcase {
  font-size: 50px;
  line-height: 1.3;
  position: relative;
  animation-name: appear;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#content {
  position: relative;
  animation-name: content;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes content {
  0% {
    left: -1000px;
  }
  100% {
    left: 0;
  }
}

.btn {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border: white 1px solid;
  margin-top: 40px;
  opacity: 0;
  animation-name: button;
  animation-duration: 3s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
  transition-property: transform, color, border;
  transition-duration: 1s;
}

@keyframes button {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.btn:hover {
  transform: rotateY(360deg);
  color: red;
  border: red 1px solid;
}

#headerlogo {
  size: 100px;
  margin: auto;
}

.image {
  width: 11rem;
  height: 11rem;
  border: solid black 1px;
  background-color: white;
  border-radius: 12rem;
}

.linksbar {
  display: flex;
  position: relative;
  margin: 0;
  padding-bottom: 10px;
}

.linkhome {
  display: inline-block, flex;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border: white 1px solid;
  margin: 0, 10px;
  transition-property: border-radius, background-color, color, border;
  transition-duration: 2s, 1s, 1s;
}

.linkhome:hover {
  background-color: #EE670F;
  border-radius: 75%;
  color: black;
  border: 1px solid black;
}

.linksbar a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

#linkshome1 {
  order: 1;
  width: 30%;
}

#linkshome2 {
  order: 2;
  width: 30%;
}

#linkshome3 {
  order: 3;
  width: 30%;
}

#bassbanner {
  width: 100%;
  height: 100%;
  max-height: 300px;
  border-bottom: 1px solid white;
}

.columns {
  display: flex;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 10px;
  background-color: white;
  padding-bottom: 10px;
}

.maincolumn {
  flex: 2;
  order: 1;
  text-align: center;
}

.mch1 {
  font-family: Helvetica, Arial, sans-serif;
}

.sidebarcolumn {
  flex: 1;
  order: 2;
  margin-left: 20px;
  text-align: center;
}

#sidebarlogo {
  height: 8rem;
  width: 8rem;
  border: black 1px solid;
  border-radius: 9rem;
  text-align: center;
}

.coloredboxes {
  display: flex;
  margin-top: 25px;
}

.boxes {
  padding: 20px;
  box-sizing: border-box;
  margin: 20px;
  width: 50%;
}

.boxes:nth-child(1) {
  background-color: #EE760B;
}

.boxes:nth-child(2) {
  background-color: red;
}

.boxlink {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border: white 1px solid;
  margin-top: 0;
  transition-property: color, border;
  transition-duration: 1s;
}

.boxlink:hover {
  color: black;
  border: black 1px solid;
}
#map {
  height: 400px;
  width: 100%;
  margin: 20px;
}
